body{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
    font-family: 'pretendard', 'sans-serif';
    padding-top: 72px;

}

#app{
    position: relative;
    display: flex;
    justify-content: center;
}

#app .tit-app{
    width: 244px;
    height: 48px;
    background-image: url("./src/wenivLogo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.timer{
position: absolute;
width: 400px;
height: 360px;
top: 120px;
background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
border-radius: 16px;
}